
body {
background: green;
}

h1 {
display: flex;
justify-content: center;
color: white;
}

span::before {
content: "Animation";
animation: animate infinite 3s;
padding-left: 10px;
}

@keyframes animate {

0% {
content: "Animation";
}

50% {
content: "Is";
}

75% {
content: "Done";
}
}

body {
background: green;
}